### Modules

In [13]:
#!pip install jaydebeapi
import jaydebeapi
import os
import pandas as pd
import warnings

warnings.filterwarnings("ignore")

###  Setting Java variable

In [14]:
os.environ["JAVA_HOME"] = 'C:\\Program Files\\Java\\jdk-21'
os.environ["JAVA_HOME"]

'C:\\Program Files\\Java\\jdk-21'

### Connexion to DBeaver

In [15]:
# JDBC URL
jdbc_url = 'jdbc:sqlserver://;serverName=190.5.139.137;port=2033;databaseName=master'

# JDBC driver JAR file path
jdbc_driver_jar = 'C:/Users/ADMIN/AppData/Roaming/DBeaverData/drivers/maven/maven-central/com.microsoft.sqlserver/mssql-jdbc-9.2.0.jre8.jar'  # Replace with the actual path to the SQL Server JDBC driver JAR file

# JDBC driver class name
jdbc_driver_class = 'com.microsoft.sqlserver.jdbc.SQLServerDriver'

# Database credentials
username = 'olimporeader'
password = 'olimporeader'


# Establish the JDBC connection
conn = jaydebeapi.connect(
    jdbc_driver_class,
    jdbc_url,
    [username, password],
    jdbc_driver_jar,
)

### Databases

In [16]:
# Databases
pd.read_sql('SELECT * FROM sys.databases'
             ,conn).head()

,name,database_id,source_database_id,owner_sid,create_date,compatibility_level,collation_name,user_access,user_access_desc,is_read_only,...,default_fulltext_language_name,is_nested_triggers_on,is_transform_noise_words_on,two_digit_year_cutoff,containment,containment_desc,target_recovery_time_in_seconds,delayed_durability,delayed_durability_desc,is_memory_optimized_elevate_to_snapshot_on
0,master,1,None,[1],2003-04-08 09:13:36.390000,120,SQL_Latin1_General_CP1_CI_AS,0,MULTI_USER,0,...,None,None,None,None,0,NONE,0,0,DISABLED,0
1,tempdb,2,None,[1],2023-10-14 08:10:13.193000,120,SQL_Latin1_General_CP1_CI_AS,0,MULTI_USER,0,...,None,None,None,None,0,NONE,0,0,DISABLED,0
2,model,3,None,[1],2003-04-08 09:13:36.390000,120,SQL_Latin1_General_CP1_CI_AS,0,MULTI_USER,0,...,None,None,None,None,0,NONE,0,0,DISABLED,0
3,msdb,4,None,[1],2014-02-20 20:49:38.857000,120,SQL_Latin1_General_CP1_CI_AS,0,MULTI_USER,0,...,None,None,None,None,0,NONE,0,0,DISABLED,0
4,olAdmin,5,None,"[104, 80, -55, -73, -26, 75, 63, 71, -104, -12...",2023-08-22 21:43:26.867000,100,SQL_Latin1_General_CP1_CI_AS,0,MULTI_USER,0,...,None,None,None,None,0,NONE,0,0,DISABLED,0

### Schemas

In [17]:
# Schemas
database_name = "master"

pd.read_sql(f"SELECT * FROM {database_name}.sys.schemas;",
           conn).head()

                 name  schema_id  principal_id
0                 dbo          1             1
1               guest          2             2
2  INFORMATION_SCHEMA          3             3
3                 sys          4             4
4            db_owner      16384         16384

### Data Extraction by query

In [18]:
# Getting data
query = '''

SELECT * FROM
olInventario.dbo.Ubicaciones
'''

df = pd.read_sql(query,conn)
df.head(10)

,ubiId,ubiCodigo,ubiIdPadre,ubiNombre,ubiAlmacenable,ubiEsTransito,ubiEnInventario,ubiVentaBloqueada,ubiDefault,ubiCompraBloqueada,...,ubiIdOrigenSync,sucIdOrigenSync,cueIdSustituyeProd,ubiOcultarVEN,ubiManejaProductoNoPropio,ubiCodigoActivoFijo,ubiInclConsultaIntercompany,ubiPermitirVentasWeb,ubiMostrarSaldosVtasCfg,ubiDireccion
0,4,BOD,NaN,CADEJO,0,0,1,1,0,1,...,4,1,None,1,0,None,0,0,0,None
1,5,BOD_FRIO,NaN,ZR BODEGA CUARTO FRIO CENTRAL,0,0,1,1,0,1,...,5,1,None,1,0,None,0,0,0,None
2,9,BOD_PROD,NaN,DEPARTAMENT,0,0,1,1,0,1,...,9,1,None,1,0,None,0,0,0,None
3,10,BOD_QU,NaN,ZR BODEGA QUIMICOS,0,0,1,1,0,1,...,10,1,None,1,0,None,0,0,0,None
4,11,BOD_LUB,NaN,ZR TANQUE DE DIESEL,0,0,1,1,0,1,...,11,1,None,1,0,None,0,0,0,None
5,12,BOD_BN,NaN,ZR BODEGA BAJO NIVEL,0,0,1,1,0,1,...,12,1,None,1,0,None,0,0,0,None
6,13,BOD_VENCIDO,NaN,ZR BODEGA VENCIDO,0,0,1,1,0,1,...,13,1,None,1,0,None,0,0,0,None
7,15,BOD-09,4.0,BODEGA REST. CENTRAL,1,0,0,0,0,0,...,15,1,None,0,0,None,0,0,0,None
8,16,BOD_VEND,NaN,ZR BODEGA VENDEDORES,0,0,1,1,0,1,...,16,1,None,1,0,None,0,0,0,None
9,19,BOD_VEND03,16.0,VENTAS CENTRAL,0,0,1,1,0,1,...,19,1,None,1,0,None,0,0,0,None